<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Formularios</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioSkill">Skill</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioPosition">Position</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioCandidate">Candidate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioHrUser">HrUser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioHrUserPosition"
          >HrUser-Position</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioCandidateSkill"
          >Candidate-Skill</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioCandidatePosition"
          >Candidate-Position</a
        >
      </li>
    </ul>
  </div>
</nav>
